@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #040404;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040404;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.blueBolt,
.redBolt {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
  opacity: 0;
  stroke-linecap: round;
  stroke-linejoin: round;

  filter: drop-shadow(0 0 4px currentColor) drop-shadow(0 0 10px currentColor)
    drop-shadow(0 0 20px currentColor) drop-shadow(0 0 40px currentColor)
    drop-shadow(0 0 80px currentColor);
}

.blueBolt {
  animation: blueFlash 7s infinite;
}

.redBolt {
  animation: redFlash 9s infinite;
}

@keyframes blueFlash {
  0%,
  92%,
  100% {
    opacity: 0;
    stroke-dashoffset: 220;
  }

  93% {
    opacity: 1;
    stroke-dashoffset: 0;
  }

  95% {
    opacity: 0.4;
  }

  96% {
    opacity: 1;
  }
}

@keyframes redFlash {
  0%,
  95%,
  100% {
    opacity: 0;
    stroke-dashoffset: 220;
  }

  96% {
    opacity: 1;
    stroke-dashoffset: 0;
  }

  98% {
    opacity: 0.4;
  }

  99% {
    opacity: 1;
  }
}
